html, body {
   width: 100vw;
   max-width: 100vw;
   overflow-x:hidden;
 }


 ::-webkit-scrollbar {
   width: 5px;
 }

 .body {
   width:60%;
 }

 .header-right {
   visibility:hidden;
 }

 .block {
   height:auto;
 }

 .l {
   position:relative !important;

 }

 .r {
   position:relative !important;
 }

 .block .r {
   left:20%;
   width:70%;
   padding-bottom:200px;
 }

 .text {
   position:relative;
   height:auto;
 }

 .text .l {
   left:5%;
   width:85%;
   padding-left:0%;

 }

 .text .r {
   left:5%;
   width:85%;
   padding-left:0%;
 }

.text .r p {
  font-size:2vh;
  line-height:3vh;
}

.mobile-image {
  width:200%;
  margin-left:-50%;
}

.footer {
  padding-top:100px;
}
