.header {
  position:absolute;
  top:0px;
}

.header-background {
  position:relative;
  height:400px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
}

#trace-background {
  background-image:url(../trace/dog.jpg);
  transform: scale(1.3);
}

#munch-background {
  background-image:url(../munch/bowbackground.jpg);
}

#money-background {
  background-image:url(../money/money-background.png);
}

#planter-background {
  background-image:url(../planter/plant.jpg);
}

#google-background {
  background-image:url(../google/2.png);
}

#food-background {
  background-image:url(../food/background1.jpg);
}


#about-background {
  background-image:url(../images/about.png);
  height:550px;

}

a {
  text-decoration:none;
}

p {
  padding:0px;
  margin:0px;
  color: white;
  font-family: 'Lora', serif;
  font-size:20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing:1px;
  padding-bottom:50px;
  line-height:26px;
}

p.large {
  font-size:24px;
  line-height: 30px;
}


p.title {
  font-size:14px;
  font-family: 'Lato', serif;
  letter-spacing:3px;
  font-weight:550;
  opacity:0.6;
  padding-bottom:10px;
}

.text p.title {
  color:#e2533c;
  opacity: 1;
}

.text p {
  color: rgb(68,68,68,1.00);
}

p.number {
  font-family: serif;
  padding:0px;
  font-size:22px;
  letter-spacing:2px;
  height: 25px;
  width: 12px;
  background: #e0d4d4;
  margin-bottom:20px;
}

.block {
  position:relative;
  height:50vh;
  width:100% !important;
  padding:0px;
  margin:0px;
  background-color:#f2bd55;

}


.r {
  position:absolute;
  left:45%;
  top:100px;
  max-width:500px;

}

.l {
  position:absolute;
  left:20%;
  top:100px;
}

.text {
  position:relative;
  height:500px;
}

.text .r {
  max-width:600px;
}


.bottom {
  position:absolute;
  top:5000px;
}


#title {
  height:70px;
}

#image {
  padding-top:50px;
  display: block;
  margin-left: auto;
  margin-right:auto;
  width:90%;
  overflow:hidden;
}


.button {
  opacity:0.9;
  margin:10px;
  background-color:transparent !important;
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
  letter-spacing:1px;
  font-size:16px;
  padding:0px;
  margin:0px;
}

.button-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}

.button-one span {
	transition: all 0.3s;
}

.button-one::before {
  background-color:transparent;
  color:transparent;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}

.button-one:hover span {
	letter-spacing: 2px;
}
.button-one:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}
.button-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.button-one:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}

#short {
  height:400px;
}
#long {
  height:800px;
}
#longer {
  height:800px;
}
#long-image {
  height:800px;
}
#longer {
  height:1100px;
}
#longest {
  height:1100px;
}

#longestest {
  height:1400px;
}


#planter-screen {
  margin-top:250px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pad-500 {
  padding-top:510px;
}
